<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Epam Bank</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div style="text-align:center; margin-top:50px;">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="email" name="userName" placeholder="Email" required/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password" required/>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    <div th:if="${loginError}" style="color:red;">
        <p th:text="${loginError}"></p>
    </div>
</div>
</body>
</html>
