<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - Epam Bank</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div style="text-align:center; margin-top:50px;">
    <h2>Register</h2>
    <form th:action="@{/loan}" method="post">
        <div>
            <input type="text" name="moneyLeft" placeholder="Money" required/>
        </div>
        <div>
            <label for="chargeStrategyType">Charge Strategy:</label>
            <select id="chargeStrategyType" name="chargeStrategyType" required>
                <option value="" disabled selected>Select Strategy</option>

                <option value="DAILY">DAILY</option>

                <option value="MONTHLY">MONTHLY</option>
            </select>
        </div>
        <div>
            <input type="number" name="termMonths" placeholder="Term in months" required/>
        </div>
        <div>
            <button type="submit">Open Loan</button>
        </div>
    </form>
    <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
